.btn-fill {
	width: 100%;
}


/** Login dropdown **/
.loginForm {
	border-radius: 4px;
	padding: 10px 10px 8px 10px;
	background-color: #EFEFEF;
	line-height: 3em;
	display: block;
	z-index:1401;
	box-shadow: 0px 0px 3px #888888;
	width: 225px;
}

#login-container input[type=text],
#login-container input[type=password]{
	margin-bottom: 10px;
}

#login-container input[type=submit],
#login-container button{
	width: 100%;
}

.login-msg:focus{
	outline: none;
}

/** CSS to make dropdown look correct in nav-bar **/
.navbar-nav > li > .dropdown > a {
	padding: 15px;
	color: #fff;
	display: block;
}
.nav .open > a, .nav .open > a:focus,
.nav .open > a:hover {
    background-color: #b1441d;
    text-decoration: none;
}

div.form-container{
	background-color: #F5F5F5;
	border-radius: 4px;
	box-shadow: 0px 0px 3px #888888;
	padding: 2px 10px 0px 10px;
	max-width: 80%;
}
